---
layout: default
---
{%- assign _aboutme = site.aboutme | sort: 'order' -%}
{%- include header.html scrolly_nav=_aboutme -%}
<!-- Main -->
<div id="main">
  {%- if page.content != "" -%}
  {%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
  {%- endif -%}
  <!-- Sections -->
  {%- for tab in _aboutme -%}
  {%- include section.html title=tab.title photo=tab.cover-photo photo-alt=tab.cover-photo-alt auto-header=tab.auto-header content=tab.content -%}
  {%- endfor -%}
</div>